.icon-container {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    margin: 5px 10px 5px 10px;
}

.icon {
    height: inherit;
}
